#Main-Nav {
    background-color: rgba(255, 255, 255, 0.4);
}

#Main-Nav .navbar-brand img {
    width:125px;
    height:auto;
}

#feature-list {
    list-style-type:square;
    list-style-position:outside;
    padding-left:0;
}

#feature-list li::marker {
    color: rgb(62, 101, 158);
    font-size: 1.5rem;
}

h2 {
    color: rgb(62, 101, 158);
}

body {
    min-height: 100vh;
    background-image: url('images/background.jpg');
    background-size: cover;
    background-position:center;
    background-repeat:no-repeat;
}